<body class="m-0 p-0">
  <div>
    <div class="notfound absolute left-1/2 top-1/2 max-w-[920px] w-full leading-snug text-center px-[15px] -translate-x-1/2 -translate-y-1/2 font-maven">
      <div class="notfound-404 absolute h-[100px] top-0 left-1/2 -translate-x-1/2 -z-10">
        <h1 class="absolute left-1/2 top-1/2 font-maven font-black text-[#ececec] text-[276px] m-0 -translate-x-1/2 -translate-y-1/2 max-[480px]:text-[162px]">
          404
        </h1>
      </div>
      <h2 class="font-maven text-[46px] text-black font-black uppercase m-0 max-[480px]:text-[26px]">
        Ops... Desculpa, Página Não Encontrada
      </h2>
      <p class="font-maven text-base text-black font-normal uppercase mt-[15px] mb-4">
        Parece que você encontrou um caminho que não existe.
        A página que procura pode ter sido removida ou movida.
      </p>
      <%= link_to "Voltar à página inicial", root_path, class: "font-maven text-sm no-underline uppercase bg-[#189cf0] inline-block py-[16px] px-[38px] border-2 border-transparent rounded-[40px] text-white font-normal transition-all duration-200 hover:bg-white hover:border-[#189cf0] hover:text-[#189cf0]" %>
    </div>
  </div>
</body> <!-- This templates was made by Colorlib (https://colorlib.com) -->
