@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Maven Pro', sans-serif;
  }
}

@layer utilities {
  .font-maven {
    font-family: 'Maven Pro', sans-serif;
  }
  
  .font-open {
    font-family: 'Open Sans', sans-serif;
  }
}
